<%- include("partials/header") -%>
</head>
<body>
    <%- include("partials/navbar")-%>
    <div>
        <% blogs.forEach((blog)=>{%>
            <h1><%= blog.title %></h1>
            <h2><%= blog.category %></h2>
            <p><%=blog.content.substring(0,101)%>... <a href="/<%=blog._id%>wallblogs">Read More</a> </p>
            <img src="<%= blog.image %>" alt="">
            <p><%= blog.name%></p>
            <p><%= blog.createdAt%></p>

        <%})%>
    </div>
<%- include("partials/footer") -%>