<%- include("partials/header") -%>
<style>
  body{
    background-color: rgb(238, 238, 238);
  }
  .postbox{
        display: inline;
        background-color: rgb(251, 253, 255);
        border-radius: 20px;
        transition: box-shadow .3s;
    }
    .postbox:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 204, 204, 0.301) 0px 30px 60px -30px;    
        cursor: pointer;    
    }
    .carousel{
      background-color: rgb(238, 238, 238);
    }
    .heading{
      color: rgb(136, 136, 136);
    }
    .card{
      cursor: pointer;
      transition: box-shadow .3s;
      color: white;
    }
    .card:hover{
      box-shadow: rgb(50, 50, 93) 0px 50px 100px -20px, rgb(0, 204, 204) 0px 30px 60px -30px; 
      color: black;   
    }
    .card-body{
      
      background-size: 100%;
    }
</style>
</head>
  <body>
  <%- include("partials/navbar") -%>
   
 
  <div id="carouselExampleInterval" class="container carousel carousel-dark slide  px-4 " data-bs-ride="carousel">
    <h1 class="text-center pt-4 heading">Top Stories</h1>
    <div class="carousel-inner px-4">
      <div class="carousel-item active px-5" data-bs-interval="4000">
          <div class="row tm-row mx-2 px-5">
            <div class="col-12 col-md-12 tm-post mb-4 postbox mt-2" onclick="location.href='/category/blog/<%=blogs[0]._id%>wsecrets'" >
                <hr style="border-top: 5px solid #0CC;">
                
                    
                <h2 class="tm-pt-30  tm-post-title"><%= blogs[0].title %></h2>
                                    
                <p class="tm-pt-30">
                    <%=blogs[0].content.substring(0,301)%>... <a href="/category/blog/<%=blogs[0]._id%>w<%=blogs[0].category%>">Read More</a>
                </p>
                <div class="d-flex justify-content-between tm-pt-45">
                    <span class=""><%= blogs[0].createdAt%></span>
                </div>
                <hr style="border-top: 5px solid #0CC;">
                
                <img src="<%=blogs[0].image%>" class="mb-2" style="height: 50px; width: 50px; border-radius: 100%;float: left"  >
                <h5 style="float: right" >&nbsp; By <%= blogs[0].name%></h5>
                <h5 style="float: right"> <%= blogs[0].comment.length%> Comments</h5>
                    
            </div>    
          </div>
      </div>
      <div class="carousel-item px-5" data-bs-interval="4000">
        
        <div class="row tm-row mx-2 px-5">
          <div class="col-12 col-md-12 tm-post mb-4 postbox mt-2" onclick="location.href='/category/blog/<%=blogs[1]._id%>w<%=blogs[1].category%>'" >
              <hr style="border-top: 5px solid #0CC;">
              
                  
              <h2 class="tm-pt-30  tm-post-title"><%= blogs[1].title %></h2>
                                  
              <p class="tm-pt-30">
                  <%=blogs[1].content.substring(0,301)%>... <a href="/category/blog/<%=blogs[1]._id%>w<%=blogs[1].category%>">Read More</a>
              </p>
              <div class="d-flex justify-content-between tm-pt-45">
                  <span class=""><%= blogs[1].createdAt%></span>
              </div>
              <hr style="border-top: 5px solid #0CC;">
              
              <img src="<%=blogs[1].image%>" class="mb-2" style="height: 50px; width: 50px; border-radius: 100%;float: left"  >
              <h5 style="float: right" >&nbsp; By <%= blogs[1].name%></h5>
              <h5 style="float: right"> <%= blogs[1].comment.length%> Comments</h5>
                  
          </div>    
        </div>
      </div>
      <div class="carousel-item px-5" data-bs-interval="4000">
        <div class="row tm-row mx-2 px-5">
          <div class="col-12 col-md-12 tm-post mb-4 postbox mt-2" onclick="location.href='/category/blog/<%=blogs[2]._id%>w<%=blogs[2].category%>'" >
              <hr style="border-top: 5px solid #0CC;">
              
                  
              <h2 class="tm-pt-30  tm-post-title"><%= blogs[2].title %></h2>
                                  
              <p class="tm-pt-30">
                  <%=blogs[2].content.substring(0,301)%>... <a href="/category/blog/<%=blogs[2]._id%>w<%=blogs[2].category%>">Read More</a>
              </p>
              <div class="d-flex justify-content-between tm-pt-45">
                  <span class=""><%= blogs[2].createdAt%></span>
              </div>
              <hr style="border-top: 5px solid #0CC;">
              
              <img src="<%=blogs[2].image%>" class="mb-2" style="height: 50px; width: 50px; border-radius: 100%;float: left"  >
              <h5 style="float: right" >&nbsp; By <%= blogs[2].name%></h5>
              <h5 style="float: right"> <%= blogs[2].comment.length%> Comments</h5>
                  
          </div>    
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container mb-5">
    <h1 class="text-center heading">Categories</h1>
    <div class="col">
      <div class="row ">
        <%assets.forEach((asset)=>{%>
          <div class="col-12 col-md-4 mt-2 mb-4" >
            <div class="card text-center" onclick="location.href='/category/blog/<%=blogs[0]._id%>wsecrets'">
              <div class="card-body" style="background-image: url('<%=asset.image%>');">
                <h1><%=asset.name%></h1>
              </div>
            </div>  
          </div>
        <%})%>
        <div class="col-12 col-md-4 mt-2 mb-4" >
          <div class="card text-center" >
            <div class="card-body heading" style="background-color: rgb(26, 26, 26);">
              <h1>...</h1>
            </div>
          </div>  
        </div>
        
      
      </div>
      
    </div> 
  </div>
 


<%- include("partials/footer") -%>