<%- include("partials/header") -%>
<style>
    .postbox{
        background-color: rgb(231, 253, 231);
        border-radius: 20px;
        transition: box-shadow .3s;
    }
    .postbox:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 204, 204, 0.301) 0px 30px 60px -30px;    
        cursor: pointer;    
    }
</style>
</head>
<body>

    <%- include("partials/navbar") -%>    
        <div class=" container-fluid">

            <div class="row">
                <div class="col-12 col-md-3 bg-light pt-5 ">
                     <div class=" my-auto">
                        <div>
                            <img src="<%=user.image%>" class="rounded mx-auto d-block" alt="..."> 
                        </div>
                        
                        <div class="mt-3">
                            <h5 class="text-center"><%=user.name%></h5>
                           <h5 class="text-center"><%=user.username%></h5>
                        </div><br>
                        <div class="text-center mt-2">
                           <div class="btn btn-outline-dark ">
                               <h1 class="text-center"><%=blogs.length%></h1> <h1 class="text-center">Blogs</h1>
                           </div>
                        </div>
                        <div class="text-center mt-5 mb-5">
                           <a href="/createblog" class="btn btn-outline-success ">Create Blog</a>
                           <form action="/deleteaccount" method="POST">
                            <button class="btn btn-outline-danger" type="submit">Delete Account</button>
                            </form>
                               
                        </div>
                     </div>       
                </div>           
                           
                      
                   
               
               <div class="col-12 col-md-9 bg-light" >
                   <div class="row ">
                       <%if(blogs.length == 0){%>
                           <div class="col-6 col-md-12 vh-100 ">
                               <div class="my-auto">
                                <h1 class=" py-5 px-5 ps-5">No stories posted yet!</h1>
                               </div>
                           </div>
                         <%}else{%>
                           <% blogs.forEach((blog)=>{%>
                               <div class="col-12 col-md-12 postbox mt-2" onclick="location.href='/category/blog/<%=blog._id%>w<%=blog.category%>'" >
                                   <hr style="border-top: 5px solid #0CC;">
                                   
                                       
                                   <h2 ><%= blog.title %></h2>
                                                       
                                   <p >
                                       <%=blog.content.substring(0,301)%>... <a href="/category/blog/<%=blog._id%>w<%=blog.category%>">Read More</a>
                                   </p>
                                   <div >
                                       <span class=""><%= blog.createdAt%></span>
                                   </div>
                                   <hr style="border-top: 5px solid #0CC;">
                                   
                                   <img src="<%=blog.image%>" class="mb-2" style="height: 50px; width: 50px; border-radius: 100%;float: left"  >
                                   <h5 style="float: right" >&nbsp; By <%= blog.name%></h5>
                                   <h5 style="float: right"> <%= blog.comment.length%> Comments</h5>
                                       
                                   
                               </div>
                           <%})}%>
                         
                       
                       
                   </div>
               </div>
           </div>

        </div>
    



<%- include("partials/footer") -%>